@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elements */

body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

fieldset{
  border: none;
}

:root{
  font-size: 62.5%;

/* ### Primary */
  --Linear_gradient_color1: hsl(249, 99%, 64%);
  --Linear_gradient_color2: hsl(278, 94%, 30%);
  --Red: hsl(0, 100%, 66%); /*(input errors)*/

/* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Light_grayish_violet: hsl(270, 3%, 87%);
  --Dark_grayish_violet: hsl(279, 6%, 55%);
  --Very_dark_violet: hsl(278, 68%, 11%);
}

#container{
  display: flex;
  flex-flow: wrap  row;
  width: 100dvw;
  max-width: 144rem;
  min-width: 30rem;
  height: 100dvh;
  max-height: 108rem;
  background-color: var(--White);
  background-image: url(./../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 30% 100%;
}

#container :where(.card-box, #form-card-details){
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap column;
}

@media (max-width: 700px){
  #container{
    background-image: url(./../images/bg-main-mobile.png);
    background-size: 100% 40%;
  }
  #container :where(.card-box, #form-card-details){
    width: 100%;
  }

  #container .card-box{
    height: 40dvh;
    gap: 0;
  }

  .card-box .card-img#card-modify-details{
    transform: translateY(110%) scale(0.8);
    z-index: 1;
  }
  .card-box .card-img#card-static{
    transform: translateY(-50%) scale(0.8);;
  }
}